<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ team }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">

    <main class="flex-grow container mx-auto mt-8">
        <header class="bg-gray-800 text-white p-4 mt-8 border border-solid rounded-md">
            <nav class="flex items-center justify-between">
                <div class="flex space-x-4">
                    <a href="#general" onclick="showContent('general')" class="hover:text-gray-300">General</a>
                    <a href="#onfield" onclick="showContent('onfield')" class="hover:text-gray-300">On-field</a>
                    <a href="#awards" onclick="showContent('awards')" class="hover:text-gray-300">Awards</a>
                </div>
            </nav>
        </header>

        <section id="general" class="py-8 content">
            <h1 class="text-4xl font-bold">{{ teamName }} {{ team }}</h1>
            <p class="mt-1">Rookie Year: {{ rookieYear }}</p>
            <p class="mt-1">Country: {{ teamCountry }}</p>
            <p class="mt-1">Winrate: {{ teamWinrate }}</p>
            <h2 class="mt-4 text-2xl font-bold">Recent activity:</h2>
            <ul>
                {% for event in teamAttendedEvents %}
                <li> - {{ event }}</li>
                {% endfor %}
            </ul>
        </section>

        <section id="onfield" class="py-8 content hidden">
            <h1 class="text-3xl font-bold">On-field</h1>
            <p class="mt-1">Informações sobre a empresa ou projeto.</p>
        </section>

        <section id="awards" class="py-8 content hidden">
            <h1 class="text-3xl font-bold">Contato</h1>
            <p class="mt-4">Entre em contato conosco.</p>
        </section>

        <footer class="bg-gray-800 rounded-lg shadow dark:bg-gray-900 m-4 mx-auto">
            <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
                <span class="block text-sm text-white sm:text-center dark:text-gray-400">© 2024 | Developed by Lucca, 1156 member.</span>
            </div>
        </footer>

    </main>

    

    <script>
        function showContent(id) {
            const content = document.querySelectorAll('.content');
            content.forEach(content => {
                if (content.id === id) {
                    content.classList.remove('hidden');
                } else {
                    content.classList.add('hidden');
                }
            });
        }
    </script>

</body>

</html>
